.karta {
    display: inline-block;
    max-width: 20rem;
    min-width: 300px;
    margin: 0em 0.5em;
}
.img--responsive {
    width: 100%;
}

.main{
    display: flex;
    max-width: max-content;
    overflow-x: auto;
    margin: auto;
    padding: 1.2rem;
}